<br>
<div *ngIf='alertType === "success"' class="alert alert-success alert-dismissible fade show" role="alert">
    SUCCESS: {{alertMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf='alertType === "danger"' class="alert alert-danger alert-dismissible fade show" role="alert">
    ERROR: {{alertMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf='alertType === "warning"' class="alert alert-warning alert-dismissible fade show" role="alert">
    ATTENTION: {{alertMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="container-fluid">
    <h1 class="display-6">Query The Ontology</h1>
    <br>
    <div class="input-group mb-3">
        <select *ngIf='!editMode && !editNewMode' class="custom-select" id="inputGroupSelect04" [(ngModel)]="currentQuery.id" (ngModelChange)="onQueryListChange($event)">
            <option *ngIf='currentQuery.name === ""' value="0" selected>Select a predefined query...</option>
            <option *ngIf='!(currentQuery.name === "")' [ngValue]="currentQuery.id" selected>{{currentQuery.name}}</option>
            <option *ngFor="let queryData of queriesList" [ngValue]="queryData.id">{{queryData.name}}</option>
        </select>
        <input *ngIf='editNewMode && !editMode' [(ngModel)]="newQuery.name" class="form-control" type="text" name="{{newQuery.name}}"/>
        <input *ngIf='!editNewMode && editMode' [(ngModel)]="currentQuery.name" class="form-control" type="text" name="{{currentQuery.name}}"/>
        <div *ngIf='!queryRunning' class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click) = "runQuery()">Run Query</button>
        </div>
        <div *ngIf='queryRunning' class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Running...
            </button>
        </div>
    </div>
    <div class="highlight">
        <button *ngIf='!editNewMode && !editMode' type="button" class="btn btn-primary btn-lg" [disabled]="loading" (click)="createQuery()">Create</button>
        <button *ngIf='!editNewMode && !editMode && currentQuery.id != ""' type="button" class="btn btn-primary btn-lg" (click)="editQuery()" [disabled]="loading">Edit</button>
        <button *ngIf='editNewMode && !editMode' type="button" class="btn btn-primary btn-lg" [disabled]="loading" (click)="saveQuery()">Save</button>
        <button *ngIf='editMode && !editNewMode && currentQuery.id != ""' type="button" class="btn btn-primary btn-lg" [disabled]="loading" (click)="updateQuery()">Save</button>
        <button *ngIf='editNewMode || editMode'type="button" class="btn btn-secondary btn-lg" (click)="cancelEdit()" [disabled]="loading">Cancel</button>
        <button *ngIf='!editNewMode && !editMode && currentQuery.id != ""' type="button" class="btn btn-secondary btn-lg"  (click)="deleteQuery()" [disabled]="loading">Delete</button>
    </div>
    <br>
    <p class="text-center">Select a predefined query or Create your own customised query. Then, 'Run the query'.</p>
    <br>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Entity Type</th>
                <th scope="col">Entity</th>
                <th scope="col">Ordered By</th>
                <th scope="col">Show Column</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let query of queryArray; let i = index" ng-disabled="queryRunning">
                <td>
                    <div *ngIf='query.canBeEdited' class="input-group">
                        <select [(ngModel)]="query.entityType" class="form-select" name="{{query.entityType}}" (ngModelChange)="onEntityTypeChange($event)">
                            <option selected>{{query.entityType}}</option>
                            <option value="Class">Class</option>
                            <option value="DatatypeProperty">DatatypeProperty</option>
                            <option value="Individual">Individual</option>
                            <option value="Literal">Literal</option>
                            <option value="ObjectProperty">ObjectProperty</option>
                            <option value="RelationalOperator">RelationalOperator</option>
                        </select>
                    </div>
                    <div *ngIf='!query.canBeEdited' class="input-group">
                        <input [(ngModel)]="query.entityType" class="form-control" type="text" name="{{query.entityType}}" disabled/>
                    </div>
                </td>
                <td>
                    <div *ngIf='(query.canBeEdited  && !loading && !showLiteralTextBox)' class="input-group">
                        <select [(ngModel)]="query.id" class="form-select" name="{{query.id}}" (change)="onEntityChange(i, $event)">
                            <option selected>{{query.entity}}</option>
                            <option *ngFor="let entity of entityType" [ngValue]="entity.id">{{entity.label}}</option>
                        </select>
                    </div>
                    <div *ngIf='!query.canBeEdited' class="input-group">
                        <input [(ngModel)]="query.entity" class="form-control" type="text" name="{{query.id}}" disabled/>
                    </div>
                    <div *ngIf='query.canBeEdited && loading && !showLiteralTextBox' class="d-flex justify-content-center">
                        <div class="spinner-grow" role="status"></div>
                    </div>
                    <div *ngIf='query.canBeEdited && showLiteralTextBox' class="input-group">
                        <input [(ngModel)]="query.entity" class="form-control" type="text" name="{{query.id}}"/>
                    </div>
                </td>
                <td>
                    <div class="text-center">
                        <input [(ngModel)]="query.isOrderedBy" class="form-check-input" type="checkbox" name="{{query.isOrderedBy}}" [disabled]="!query.canBeEdited"/>
                    </div>
                </td>
                <td>
                    <div class="text-center">
                        <input [(ngModel)]="query.isShowedInResult" class="form-check-input" type="checkbox" name="{{query.isShowedInResult}}" [disabled]="!query.canBeEdited" />
                    </div>
                </td>
                <td>
                    <div class="text-center">
                        <button *ngIf="!query.canBeEdited" class="btn btn-default"  type="button" (click)="edit(i)">Edit</button>
                        <button *ngIf="query.canBeEdited" class="btn btn-default"  type="button" (click)="editEnd(i)">OK</button>
                        <button *ngIf="!query.canBeEdited" class="btn btn-default"  type="button" (click)="deleteRow(i)">Delete</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group">
                        <select id="newRowEntityType" [(ngModel)]="newRow.entityType" class="form-select" name="newRowEntityType" (ngModelChange)="onEntityTypeChange($event)" [disabled]="!newRow.canBeEdited">
                            <option selected>{{newRow.entityType}}</option>
                            <option value="Class">Class</option>
                            <option value="DatatypeProperty">DatatypeProperty</option>
                            <option value="Individual">Individual</option>
                            <option value="Literal">Literal</option>
                            <option value="ObjectProperty">ObjectProperty</option>
                            <option value="RelationalOperator">RelationalOperator</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div *ngIf='!(loading && newRow.canBeEdited) && !showLiteralTextBox' class="input-group">
                        <select [(ngModel)]="newRow.id" class="form-select" name="{{newRow.id}}" (change)="onNewRowEntityChange($event)" [disabled]="!newRow.canBeEdited" >
                            <option selected></option>
                            <option *ngFor="let entity of entityType" [ngValue]="entity.id">{{entity.label}}</option>
                        </select>
                    </div>
                    <div  *ngIf='loading && newRow.canBeEdited && !showLiteralTextBox' class="d-flex justify-content-center">
                        <div class="spinner-grow" role="status"></div>
                    </div>
                    <div *ngIf='newRow.canBeEdited && showLiteralTextBox' class="input-group">
                        <input [(ngModel)]="newRow.entity" class="form-control" type="text" name="{{newRow.id}}"/>
                    </div>
                </td>
                <td>
                    <div class="text-center">
                        <input class="form-check-input" type="checkbox" id="newRowIsOrderedBy" [(ngModel)]="newRow.isOrderedBy" name="newRowIsOrderedBy" [disabled]="!newRow.canBeEdited"/>
                    </div>
                </td>
                <td>
                    <div class="text-center">
                        <input class="form-check-input" type="checkbox" id="newRowIsShowedInResult" [(ngModel)]="newRow.isShowedInResult" name="newRowIsShowedInResult" [disabled]="!newRow.canBeEdited" />
                    </div>
                </td>
                <td>
                    <div class="text-center">
                        <button class="btn btn-default" type="button" (click)="addRow()" [disabled]="!newRow.canBeEdited" >Add</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Row</th>
                <th *ngFor="let column of columns" scope="col">{{column}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let result of queryResult; index as i">
                <th scope="row">{{result["id"]}}</th>
                <td *ngFor="let column of columns">{{result[column]}}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshResult()"></ngb-pagination>
        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshResult()">
            <option [ngValue]="10">10 items per page</option>
            <option [ngValue]="20">20 items per page</option>
            <option [ngValue]="50">50 items per page</option>
        </select>
    </div>
</div>